[submodule "3rd/lua-cjson"]
	path = 3rd/lua-cjson
	url = git@github.com:cloudwu/lua-cjson.git
[submodule "3rd/pbc"]
	path = 3rd/pbc
	url = git@github.com:cloudwu/pbc.git
    ignore = dirty
[submodule "skynet"]
	path = skynet
	url = git@github.com:zhandouxiaojiji/skynet.git
    ignore = dirty
